
<footer class="footer container">

	<hr/>

	<ul>
		<li>
			<span class="fa fa-user fa-lg" aria-hidden="true"></span> 
			Dong
		</li>
		<li>
			<span class="fa fa-github fa-lg" aria-hidden="true"></span>
			https://github.com/zhou-dong
		</li>
		<li>
			<span class="fa fa-envelope" aria-hidden="true"></span>
			rick0913@gmail.com
		</li>
	</ul>

</footer>

<script src="/js/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
