/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: ;
  font-weight: 300;
}

.footer ul{
	width: 100%;
	list-style: none;
}

.footer ul li{
	float:left; 
	padding-right: 20px;
}

.glyphicon {
    font-size: 15px;
}