<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<style type="text/css">
		main{
			font-size: 40px;
		}




	</style>

</head>
<body>
	<% include ../partials/header %>
		
	<main class="container">
		
	<pre class="background-border-clear">
		
	<code class="JavaScript">
		var author = {
			name: 'Dong Zhou',
			phone: '408-893-3854'
		}

	</code>

	</pre>

	<pre class="background-border-clear">
		<code class="JavaScript">			
			var firstName = 'Dong';

			var lastName = 'Zhou' ;

			var phone = '408-893-3854' ;

		</code>
	</main>
	</pre>	
	


	<% include ../partials/footer %>
</body>
</html>