<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>

	<style type="text/css">

	</style>

</head>
<body>
	<% include ../partials/header %>
		
<div class="row">
	<div class="col-sm-4"></div>
	<div class="col-sm-8">
		
<pre class="background-border-clear"><code class="Java">
var author = { name: 'Dong Zhou' }

author.contactInfo = {
	email: 'rick0913@gmail.com',
	github: 'https://github.com/zhou-dong'
}

author.languages = ['Java', 'JavaScript', 'Python', 'R'];

author.crushOn = ['Coursera', 'GitHub', 'YouTube'];

author.sports = ['basketball', 'swimming', 'jogging'];

author.hobby = 'reading';

author.interested = ['Machine Learning', 'Search Engine', 'NodeJS & ReactJS'] ;

</code></pre>

	</div> <!--end col-->

</div>	<!--row end-->


	<% include ../partials/footer %>
</body>
</html>